.randomnames{
    display: grid;
    grid-template: "a a a a" auto;
    .box {
        margin: 0px 20px;
        padding: 10px 10px;
        list-style: none;
        max-height: 400px;
        overflow: hidden;
        max-width: 200px;
        color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.611);
        border: 5px solid white;
        border-radius: 10px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
        
        img{
            background-color: #75AADB;
            border: 5px solid white;
            padding: 8px 10px;
            font-size: 20px;
            margin-bottom: 15px;
            animation: ruleta 10s linear;
            animation-iteration-count: infinite;
            border-radius: 10px;
        }
    }
}

.speed{
    .box {
        img{
            animation: ruleta .5s linear;
            animation-iteration-count: infinite;
        }
    }
}

@keyframes ruleta {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-4000px);
    }
  }

  .blackblur{
    height: 30px;
    background: #691a40;
    z-index: 10;
    width: 75%;
    filter: blur(5px);
    
  }

  .top{
    margin-bottom: -10px;
  }

  .bottom{
    margin-top: -10px;
  }

  .imgwinner{
    width: 150px;
    height: 150px;
    object-fit: contain;
  }