:root {
	--clr-neon: rgb(43, 154, 245);
    --clr-neon2: rgb(245, 43, 43);
	--clr-white: rgba(255, 255, 255, 1);
}

.btn-sortear {
	font-family: 'Qatar', sans-serif;
    z-index: 1;
    margin-top: 40px;
	padding: 20px;
	height: 160px;	
    border-radius: 10px;
    font-weight: 700;
    outline: none;
    cursor: url('../assets/cursor.cur'), auto;
    font-size: 2em;
	color: #fff;
	background-color: #75AADB;
	border: 10px solid #75AADB;;
	position: relative;
	transform: scale(.95);
	transition: 0.2s;
}

.btn-sortear:hover{
	transform: scale(1.05);
	transition: .5s;
	border: 10px solid #FCBF49;
	color: #fff;
}