.btn-reset {
	font-family: 'Qatar', sans-serif;
    z-index: 1;
    margin-top: 30px;
	padding: 0px 20px;
	height: 100px;	
    border-radius: 10px;
    font-weight: 700;
    outline: none;
    cursor: url('../assets/cursor.cur'), auto;
    font-size: 1em;
	color: #fff;
	background-color: #75AADB;
	border: 10px solid #75AADB;;
	position: relative;
	transform: scale(.95);
	transition: 0.2s;
}

.btn-reset:hover{
	transform: scale(1.05);
	transition: .5s;
	border: 10px solid #FCBF49;
	color: white;
}